{
	presets: [
		[
			"es2015",
			{
				loose: true,
				modules: false
			}
		]
	],

	plugins: [
		[
			"transform-runtime",
			{
				polyfill: false // Preserve ECMA2015 Promise, Map etc...
			}
		],
		"transform-object-rest-spread"
	]
}