{
	presets: [
		[
			"es2015",
			{
				loose: true,
				modules: false
			}
		],
		"react"
	],

	plugins: [
		[
			"transform-runtime",
			{
				polyfill: false // Preserve ECMA2015 Promise, Map etc...
			}
		],
		"react-hot-loader/babel",
		"transform-object-rest-spread"
	]
}