/* ============================================================================
** Base
** ==========================================================================*/
:global {
	:root {
		font-size: 62.5%;
		overflow: hidden;
	}

	body {
		font-family: sans-serif;
		background-color: #222;
		color: #ffffff;
		font-size: 1.6rem;
	}

	button {
		cursor: default;
		outline: none;
	}
}

/* ============================================================================
** Commons
** ==========================================================================*/
:global {
	// Hidden
	.hidden {
		display: none !important;
	}

	.screen {
		position: absolute;
	}

	// Container size that fill whole screen
	.fullscreen {
		width: 100vw;
		height: 100vh;
	}

	// Disable selection
	.no-selection {
		user-select: none;
	}

	// Truncate text with ellipsis
	.truncate-text {
		white-space: nowrap;
		overflow-x: hidden;
		text-overflow: ellipsis;
	}

	// Ignore mouse events
	.no-pointer-events {
		pointer-events: none;
	}

	// Hardware acceleration
	.gpu-layer {
		transform: translateZ(0);
	}

	// Flexbox center
	.flex-center {
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
	}
}