/* ============================================================================
** Player tokens
** ==========================================================================*/
.token-active-mark {
	$length: 29;
	$gap: 9;

	fill: none;
	stroke: white {
		width: 10;
		dasharray: ($length - $gap) $gap;
		dashoffset: $length;
	}
	animation: token-active-mark-rotate 1s linear infinite;
	@at-root {
		@keyframes token-active-mark-rotate {
			0% { stroke-dashoffset: $length }
			100% { stroke-dashoffset: 0 }
		}
	}

	&.appear {
		// When token become active
		animation: token-active-mark-rotate 1s linear infinite,
		           fade-in 0.5s;

		circle {
			animation: token-active-mark-rise 0.5s;
			@at-root {
				@keyframes token-active-mark-rise {
					from {
						transform: translate(0, 20px);
					}
				}
			}
		}
	}
}