/* resets */
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

html, body, #app-viewport, #game-frame {
    width: 100vw;
    height: 100vh;
}

/* helpers */

.hidden {
	display: none;
}

.pannable {
	height: 100%;
	width: 100%;
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

.pannable:active {
	/*during panning*/
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

.pannable * {
	cursor: default;
}

.pannable:active * {
	/*during panning*/
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

.no-pointer-events {
	pointer-events: none;
}

/* layout commons */

body {
	overflow: hidden;
	color: #AAA;
}

#app-viewport {
	display: block;
	background-color: #000;
}

.screen {
	background-color: #222;
	width: 100%;
	height: 100%;
}

/* UI styles */

#game-tooltip-layer {
	position: absolute;
}

#game-tooltip {
	z-index: 99;
	position: absolute;
	pointer-events: none;
	display: none;
}

#game-tooltip-contents {
	position: relative;
	left: -50%; /* centered */
	margin-top: -25%;
	padding: 8px;
	color: #fff;
	background-color: #006064;
	white-space: nowrap;
	font-family: 'Yantramanav', sans-serif;
	font-weight: 400;
	border-radius: 3px;
}

#game-frame {
	display: flex;
}

#info-panel {
	display: none;
	height: 100%;
	width: 600px;
	background-color: #333;
	color: #AAA;
	flex-grow: 0;
	flex-shrink: 2;
	font-family: 'Yantramanav', sans-serif;
}

/* Info Panel - Tab bar */

#info-panel-tab ul {
	display: flex;
	list-style: none;
	background-color: #222;
}

#info-panel-tab ul li {
	display: inline-block;
	position: relative;
	cursor: default;
	background-color: #292929;
}

#info-panel-tab ul li span {
	font-family: 'Merriweather Sans', sans-serif;
	text-transform: uppercase;
	display: inline-block;
	padding: 15px 20px;
	font-weight: 700;
	font-size: 0.6rem;
	color: #888;
	/*
	 * Prevent text selection
	 * Still experimental and not finalized
	 */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#info-panel-tab ul li:hover span {
	color: #aaa;
}

#info-panel-tab ul li:before {
	content: '';
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
}

#info-panel-tab ul li.selected {
	background-color: #333;
}

#info-panel-tab ul li.selected span {
	color: #eee;
}

#info-panel-tab ul li.selected:before {
	background-color: #66f2f0;
}

#info-panel section[role='tabpanel'] {
	display: none;
}

#info-panel section .disabled {
	color: #7B7B7B;
}

/* Info Panel - Default */

#info-panel-default P {
	font-size: 0.75rem;
	padding: 20px;
}

/* Info Panel - Template */

#info-panel-info .panel-template {
	font-family: 'Yantramanav', sans-serif;
}

#info-panel-info .panel-template header {
	height: 120px;
	background-color: #bdbdbd;
	padding-bottom: 20px; /* bottom border */
}

#info-panel-info .panel-template header .shade {
	background-color: rgba(50, 50, 50, 0.85);
	height: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
}

#info-panel-info .panel-template header .shade * {
	margin-left: 35px;
	margin-right: 35px;
}

#info-panel-info .panel-template header h1 {
	line-height: 2rem;
	font-size: 1.35rem;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.95);
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.45);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 230px;
}

#info-panel-info .panel-template header .info-class {
	text-transform: uppercase;
	font-size: 0.7rem;
	font-weight: 600;
	color: rgba(255, 255, 255, 0.7);
}


#info-panel-info .panel-template .metadata {
	display: flex;
	flex-direction: column;
}

#info-panel-info .panel-template .metadata .row {
	display: flex;
	flex-direction: row;
}

#info-panel-info .panel-template .metadata div.item {
	display: block;
	flex-grow: 1;
	flex-basis: 0;
	padding: 15px;
}

#info-panel-info .panel-template .metadata span.label {
	font-family: 'Merriweather Sans', sans-serif;
	text-transform: uppercase;
	display: block;
	font-size: 0.7rem;
	font-weight: 800;
	color: #7d7d7d;
}

#info-panel-info .panel-template .metadata span.data {
	display: block;
	font-size: 1.4rem;
	line-height: 1.4;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.8);
}

#info-panel-info .panel-template .metadata div.data.small {
	display: block;
	font-size: 1rem;
	line-height: 1;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.75);
	padding-top: 4px;
}

#info-panel-info .panel-template .metadata div.data.small span {
	line-height: 1.5;
	display: block;
}

/* Info Panel - Lot Info */

#info-panel-lot ol.stepper {
	list-style: none;
	display: flex;
	align-content: center;
	justify-content: space-around;
}

#info-panel-lot ol.stepper .node {
	position: relative;
	box-sizing: content-box;
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	font-size: 0.9rem;
	font-weight: 600;
	line-height: 1.5rem;
	text-align: center;
	border-radius: 50%;
	border-width: 4px;
	border-style: solid;
	cursor: default;
	z-index: 1;
}

#info-panel-lot ol.stepper li {
	width: 25%;
	position: relative;
	text-align: center;
	flex-grow: 1;
}

#info-panel-lot ol.stepper li:before {
	content: '';
	display: block;
	position: absolute;
	height: 5px;
	width: 100%;
	top: 40%;
	right: calc(50% + 0.75rem);
}

#info-panel-lot ol.stepper li.current::after {
	content: '';
	display: block;
	position: absolute;
	top: calc(100% + 10px);
	margin-left: 18px;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #4e4e4e;
}

#info-panel-lot ol.stepper li:first-child::before {
	content: none;
}

/* Styles for future nodes*/
/* Override by passed nodes and current node */
#info-panel-lot ol.stepper .node {
	/* future node */
	background-color: #3c3c3c;
	border-color: #435969;
	color: rgba(255, 255, 255, 0.8);
}

#info-panel-lot ol.stepper li:before {
	/* future path */
	background-color: #3e3e3e;
}

/* Styles for passed nodes*/
/* Override by current node */
#info-panel-lot ol.stepper li.passed .node {
	/* passed nodes */
	background-color: #006b8e;
	border-color: #007fa9;
	color: rgba(255, 255, 255, 0.35);
}

#info-panel-lot ol.stepper li.passed:before {
	/* passed path */
	background-color: #3a7e94;
}

/* Styles for currently active (highlighted) node*/
/* Override all previous styles */
#info-panel-lot ol.stepper li[aria-checked='true'] .node {
	/* current node */
	background-color: #278dc5;
	border-color: #fff;
	color: rgba(255, 255, 255, 0.9);
}

/* Styles for currently hovered node*/
/* Override all previous styles */
#info-panel-lot ol.stepper li:hover .node {
	/* node hover effect */
	background-color: #555;
	border-color: #ffe079;
	color: rgba(255, 255, 255, 0.9);
}

#info-panel-lot .highlight {
	color: #ffe079 !important;
}

/* Info Panel - Leaderboard */

#info-panel-leaderboard {
	font-family: 'Yantramanav', sans-serif;
}

#info-panel-leaderboard header h1 {
	color: #e0e0e0;
	font-size: 1.25rem;
	margin-left: 25px;
	margin-top: 25px;
	margin-bottom: 10px;
}

.leaderboard-list {
	list-style: none;
}

.leaderboard-list li {
	padding: 10px 0;
	display: flex;
	flex-direction: row;
}

.leaderboard-list li:nth-child(odd){
	background-color: #333;
}

.leaderboard-list li:nth-child(even){
	background-color: #3a3a3a;
}

.leaderboard-list li div {
	line-height: 2.6rem;
}

.leaderboard-list .player-color {
	width: 5px;
	flex-grow: 0;
	flex-shrink: 0;
}

.leaderboard-list .player-details {
	flex-grow: 1;
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
	align-content: flex-end;
	justify-content: space-between;
}

.leaderboard-list .player-name {
	font-size: 0.9rem;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.7);
	padding-left: 5px;
	max-width: 50%;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.leaderboard-list .player-net-worth {
	font-size: 1rem;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.8);
	background-color: #4a4a4a;
	border-bottom: solid 2px #2D2D2D;
	text-align: right;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 10px;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;
	max-width: 128px;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

#stage-box {
	flex-grow: 3;
	flex-shrink: 1;
	position: relative;
	overflow: hidden;
}

#canvas-frame {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: #222;
}

#action-panel {
	width: 100%;
	background-color: #006064;
}

#action-panel section {
	display: none;
	padding: 5px 20px 20px 20px;
	font-family: 'Yantramanav', sans-serif;
	color: white;
}

#action-panel section h1 {
	margin-top: 14px;
	font-size: 1.5rem;
	font-weight: 400;
	opacity: 0.87;
}

#action-panel section p {
	margin-top: 14px;
	font-size: 1rem;
	font-weight: 400;
	opacity: 0.87;
}

#action-panel section button {
	font-family: inherit;
	position: relative;
	margin-top: 14px;
	background-color: #546E7A;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	color: white;
	border: 0;
	font-weight: 500;
	font-size: 1rem;
	margin-right: 5px;
}

#action-panel section button .success-icon {
	opacity: 0;
	transform-origin: 50% 50%;
	width: 32px;
	height: 32px;
	position: absolute;
	left: calc(50% - 16px);
	top: calc(50% - 16px);
}

#action-panel section button:focus {
	box-shadow: 0 0 1px 1px #FFF9C4;
	outline: 0;
}

#action-panel section.done button .success-icon {
	animation: btn-result-show 200ms ease-in forwards;
}

#action-panel section button .success-icon path {
	fill: none;
	stroke: white;
	stroke-width: 3;
	stroke-dasharray: 50, 50;
}

#action-panel section.done button .success-icon path {
	animation: btn-result-draw-icon 400ms ease-in forwards;
}

#action-panel section button>span {
	transform-origin: 50% 50%;
	display: inline-block;
	padding: 8px 16px;
}

#action-panel section.done button.main span {
	animation: btn-result-hide 200ms ease-in forwards;
}

#action-panel section.done button.main {
	animation: btn-result-hide 200ms ease-in forwards 2s;
}

#action-panel section.done button:not(.main) {
	animation: btn-result-hide 200ms ease-in forwards;
}

#action-panel section button.main {
	background-color: #FF5722;
}

#stage-box-slide {
	transform: translateZ(0);
	position: absolute;
	top: 0;
	transition: top 250ms cubic-bezier(0.215, 0.61, 0.355, 1); /* easeOutCubic */
}

#stage-box-slide, #stage-box-slide .contents {
	height: 100%;
	width: 100%;
}

#canvas-viewport {
	/* disabled to reduce Firefox panning flickering */
	/* transition: transform 75ms ease; */
}

#nav-bar {
	display: none;
	height: 100%;
	width: 100px;
	background-color: #555;
	flex-grow: 0;
	flex-shrink: 0;
}

#stats-box {
	display: none;
	height: 100%;
	width: 250px;
	flex-grow: 0;
	flex-shrink: 0;
	background-color: #333;
}

#player-action-box {
	transform: translateZ(0);
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	pointer-events: none;
}

.player-action-box-layer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.player-action-entry {
	min-height: 100px;
	width: 300px;
	display: block;
	border: 3px solid rgba(0, 0, 0, 0.5);
	background-color: rgba(0, 0, 0, 0.8);
	margin: 2px 0;
}

.player-action-entry H1 {
	font-family: 'Yantramanav', sans-serif;
	font-weight: 200;
	padding: 10px;
}

#player-action-button {
	display: block;
	margin: 0 auto;
	height: 106px;
	width: 106px;
}

#player-action-button.moving {
	animation: player-action-button-rotate 2s linear infinite;
}

#btn-roll {
	pointer-events: painted;
	cursor: default;
	fill: #bababa;
	transition: fill 250ms, stroke 250ms;
	stroke: white;
	stroke-width: 5px;
	transform-origin: 50% 50%;
}

#btn-roll:not(.disabled):hover {
	fill: #d8d8d8;
}

#btn-roll:not(.disabled):active {
	fill: #e6e6e6;
	stroke: none;
}

#player-action-button.moving #btn-roll {
	stroke-dasharray: 1,250;
	stroke-dashoffset: 0;
	animation: btn-roll-spinning-stroke 2s ease-in-out infinite;
	stroke-linecap: round;
}

#player-action-button.show #btn-roll {
	animation: btn-roll-show 200ms ease-in forwards;
	opacity: 1;
}

#player-action-button.hide #btn-roll {
	animation: btn-roll-hide 200ms ease-out forwards;
	stroke: none;
}

/*
 * Animations
 */
.player-token {
	animation: player-token-rotate 1s linear infinite;
	fill: none;
	stroke: white;
	stroke-width: 10;
	stroke-dasharray: 22 7;
	stroke-dashoffset: 29;
}

/* transition animation when showing player token active marker */
.player-token-appear {
	animation:  player-token-rotate 1s linear infinite,
				ground-marker-fadein 300ms 1;
}

@keyframes player-token-rotate {
	0% { stroke-dashoffset: 29 }
	100% { stroke-dashoffset: 0 }
}

@keyframes ground-marker-fadein {
	0% {
		opacity: 0;
		transform: translate(0,20px);
	}
	100% {
		opacity: 1;
		transform: translate(0,0px);
	}
}

/* dice button spinner when player moving */
@keyframes btn-roll-spinning-stroke {
	0% {
		stroke-dasharray: 1,250;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 180,250;
		stroke-dashoffset: -55px;
	}
	100% {
		stroke-dasharray: 180,250;
		stroke-dashoffset: -250px;
	}
}

@keyframes player-action-button-rotate {
	100% {
		transform: rotate(360deg);
	}
}

/* dice button hide */
@keyframes btn-roll-show {
	0% {
		transform: scale(0,0);
	}
	75% {
		transform: scale(1.1,1.1);
	}
	100% {
		transform: scale(1,1);
	}
}

@keyframes btn-roll-hide {
	25% {
		transform: scale(1.1,1.1);
		opacity: 1;
	}
	100% {
		transform: scale(0,0);
		opacity: 0;
	}
}

/* button result scale transition */
@keyframes btn-result-show {
	from {
		transform: scale(1.5,1.5);
		opacity: 0;
	}
	to {
		transform: scale(1,1);
		opacity: 1;
	}
}

@keyframes btn-result-draw-icon {
	from {
		stroke-dashoffset: 50px
	}
	to {
		stroke-dashoffset: 0px
	}
}

@keyframes btn-result-hide {
	from {
		transform: scale(1,1);
		opacity: 1;
	}
	to {
		transform: scale(0,0);
		opacity: 0;
	}
}