/* resets */
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

html, body, #app-viewport, #game-frame {
    width: 100vw;
    height: 100vh;
}

/* helpers */

.hidden {
	display: none;
}

.pannable {
	height: 100%;
	width: 100%;
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

.pannable:active {
	/*during panning*/
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

.pannable * {
	cursor: default;
}

.pannable:active * {
	/*during panning*/
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

.no-pointer-events {
	pointer-events: none;
}

/* layout commons */

body {
	overflow: hidden;
	color: #AAA;
}

#app-viewport {
	display: block;
	background-color: #000;
}

.screen {
	background-color: #222;
	width: 100%;
	height: 100%;
}

/* UI styles */

#game-frame {
	display: flex;
}

#player-box {
	display: none;
	height: 100%;
	width: 600px;
	background-color: #333;
	flex-grow: 0;
	flex-shrink: 2;
}

#stage-box {
	flex-grow: 3;
	flex-shrink: 1;
	position: relative;
}

#surface {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: #222;
}

#action-panel {
	width: 100%;
	background-color: #006064;
}

#action-panel section {
	display: none;
	padding: 5px 20px 20px 20px;
	font-family: 'Roboto', sans-serif;
	color: white;
}

#action-panel section h1 {
	margin-top: 14px;
	font-size: 1.5rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	opacity: 0.87;
}

#action-panel section p {
	margin-top: 14px;
	font-size: 0.875rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	opacity: 0.87;
}

#action-panel section button {
	position: relative;
	margin-top: 14px;
	background-color: #546E7A;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	font-family: 'Roboto', sans-serif;
	color: white;
	border: 0;
	font-weight: 500;
	font-size: 0.875rem;
}

#action-panel section button .success-icon {
	opacity: 0;
	transform-origin: 50% 50%;
	width: 32px;
	height: 32px;
	position: absolute;
	left: calc(50% - 16px);
	top: calc(50% - 16px);
}

#action-panel section button:focus {
	box-shadow: 0 0 1px 1px #FFF9C4;
	outline: 0;
}

#action-panel section.done button .success-icon {
	animation: btn-result-show 200ms ease-in forwards;
}

#action-panel section button .success-icon path {
	fill: none;
	stroke: white;
	stroke-width: 3;
	stroke-dasharray: 50, 50;
}

#action-panel section.done button .success-icon path {
	animation: btn-result-draw-icon 400ms ease-in forwards;
}

#action-panel section button span {
	transform-origin: 50% 50%;
	display: inline-block;
	padding: 8px 16px;
}

#action-panel section.done button.main span {
	animation: btn-result-hide 200ms ease-in forwards;
}

#action-panel section.done button.main {
	animation: btn-result-hide 200ms ease-in forwards 2s;
}

#action-panel section.done button:not(.main) {
	animation: btn-result-hide 200ms ease-in forwards;
}

#action-panel section button.main {
	background-color: #FF5722;
}

#stage-box-slide {
	position: absolute;
	bottom: 0;
}

#stage-box-slide, #stage-box-slide .contents {
	height: 100%;
	width: 100%;
}

#nav-bar {
	display: none;
	height: 100%;
	width: 100px;
	background-color: #555;
	flex-grow: 0;
	flex-shrink: 0;
}

#stats-box {
	display: none;
	height: 100%;
	width: 250px;
	flex-grow: 0;
	flex-shrink: 0;
	background-color: #333;
}

#player-action-box {
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	pointer-events: none;
}

.player-action-box-layer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.player-action-entry {
	min-height: 100px;
	width: 300px;
	display: block;
	border: 3px solid rgba(0, 0, 0, 0.5);
	background-color: rgba(0, 0, 0, 0.8);
	margin: 2px 0;
}

.player-action-entry H1 {
	font-family: 'Roboto Light', sans-serif;
	padding: 10px;
}

#player-action-button {
	display: block;
	margin: 0 auto;
	height: 106px;
	width: 106px;
}

#player-action-button.moving {
	animation: player-action-button-rotate 2s linear infinite;
}

#btn-roll {
	pointer-events: painted;
	cursor: default;
	fill: #bababa;
	transition: fill 250ms, stroke 250ms;
	stroke: white;
	stroke-width: 5px;
	transform-origin: 50% 50%;
}

#btn-roll:hover {
	fill: #d8d8d8;
}

#btn-roll:active {
	fill: #e6e6e6;
	stroke: none;
}

#player-action-button.moving #btn-roll {
	stroke-dasharray: 1,250;
	stroke-dashoffset: 0;
	animation: btn-roll-spinning-stroke 2s ease-in-out infinite;
	stroke-linecap: round;
}

#player-action-button.show #btn-roll {
	animation: btn-roll-show 200ms ease-in forwards;
	opacity: 1;
}

#player-action-button.hide #btn-roll {
	animation: btn-roll-hide 200ms ease-out forwards;
	stroke: none;
}

/*
 * Animations
 */
.player-token {
	animation: player-token-rotate 1s linear infinite;
	fill: none;
	stroke: white;
	stroke-width: 10;
	stroke-dasharray: 22 7;
	stroke-dashoffset: 29;
}

/* transition animation when showing player token active marker */
.player-token-appear {
	animation:  player-token-rotate 1s linear infinite,
				ground-marker-fadein 300ms 1;
}

@keyframes player-token-rotate {
	0% { stroke-dashoffset: 29 }
	100% { stroke-dashoffset: 0 }
}

@keyframes ground-marker-fadein {
	0% {
		opacity: 0;
		transform: translate(0,20px);
	}
	100% {
		opacity: 1;
		transform: translate(0,0px);
	}
}

/* dice button spinner when player moving */
@keyframes btn-roll-spinning-stroke {
	0% {
		stroke-dasharray: 1,250;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 180,250;
		stroke-dashoffset: -55px;
	}
	100% {
		stroke-dasharray: 180,250;
		stroke-dashoffset: -250px;
	}
}

@keyframes player-action-button-rotate {
	100% {
		transform: rotate(360deg);
	}
}

/* dice button hide */
@keyframes btn-roll-show {
	0% {
		transform: scale(0,0);
	}
	75% {
		transform: scale(1.1,1.1);
	}
	100% {
		transform: scale(1,1);
	}
}

@keyframes btn-roll-hide {
	25% {
		transform: scale(1.1,1.1);
		opacity: 1;
	}
	100% {
		transform: scale(0,0);
		opacity: 0;
	}
}

/* button result scale transition */
@keyframes btn-result-show {
	from {
		transform: scale(1.5,1.5);
		opacity: 0;
	}
	to {
		transform: scale(1,1);
		opacity: 1;
	}
}

@keyframes btn-result-draw-icon {
	from {
		stroke-dashoffset: 50px
	}
	to {
		stroke-dashoffset: 0px
	}
}

@keyframes btn-result-hide {
	from {
		transform: scale(1,1);
		opacity: 1;
	}
	to {
		transform: scale(0,0);
		opacity: 0;
	}
}