.container {
	width: 106px;
	height: 106px;
	display: block;
	margin: 0 auto;
}

.container-indeterminate {
	animation: rotate 2s linear infinite;
	:at-root {
		@keyframes rotate {
			to { transform: rotate(360deg); }
		}
	}
}

.circle {
	pointer-events: painted;
	cursor: default;
	fill: #bababa;
	transition: fill 250ms, stroke 250ms;
	stroke: white;
	stroke-width: 5px;
	transform-origin: center;
}

.circle-disabled {
	opacity: 0.75;
}

.circle-ignore {
	pointer-events: none !important;
	opacity: 0.25 !important;
}

.circle-hover {
	fill: #d8d8d8;
}

.circle-pressed {
	fill: #e6e6e6;
	stroke: none;
}

.circle-indeterminate {
	stroke: {
		dasharray: 1,250;
		dashoffset: 0;
		linecap: round;
	}

	animation: spinning-stroke 2s ease-in-out infinite;
	:at-root {
		@keyframes spinning-stroke {
			0% {
				stroke-dasharray: 1,250;
				stroke-dashoffset: 0;
			}
			50% {
				stroke-dasharray: 180,250;
				stroke-dashoffset: -55px;
			}
			100% {
				stroke-dasharray: 180,250;
				stroke-dashoffset: -250px;
			}
		}
	}
}